/* Основные стили для "светлой" темы */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
  user-select: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-image: url("../public/neutral-gray-paper-texture.avif");
  background-repeat: repeat;
  opacity: 0.08;
}

.border {
  border: 3px solid black;
  height: 43.9rem;
  margin: 0 2rem 2rem 2rem;
}

.btn {
  margin: 10px 0 10px 30px;
  background: black;
  color: white;
}

body.dark-mode {
  background-color: rgb(15, 15, 15);
  color: white;
}

body.dark-mode::before {
  background-color: rgb(15, 15, 15);
  color: white;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-image: url("../public/photo.jpeg");
  background-repeat: repeat;
  opacity: 0.06;
}

.border.dark-mode {
  border: 3px solid white;
}

.btn.dark-mode {
  background: white;
  color: black;
}

.title-name {
  font-size: 40px;
  padding-left: 40px;
}

body,
.btn,
.border {
  transition: all 0.3s ease;
}

.planet.dark-mode {
  background: rgb(255, 255, 255);
}

.planet {
  position: absolute;
  top: 50%;
  right: 5%;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.planet1 {
  width: 80px;
  height: 80px;
  animation: rotateAroundSun 10s infinite linear;
  transform-origin: calc(-90% - 190px) center;
  filter: blur(30px);
}

.planet2 {
  width: 80px;
  height: 80px;
  animation: rotateAroundSun 15s infinite linear;
  transform-origin: calc(-20% - 10px) center;
  filter: blur(30px);
}

.planet3 {
  width: 140px;
  height: 140px;
  animation: rotateAroundSun 20s infinite linear;
  transform-origin: calc(-30% - 50px) center;
  filter: blur(30px);
}
.planet4 {
  width: 100px;
  height: 100px;
  animation: rotateAroundSun 25s infinite linear;
  transform-origin: calc(-30% - 135px) center;
  filter: blur(30px);
}
.planet5 {
  width: 70px;
  height: 70px;
  animation: rotateAroundSun 21s infinite linear;
  transform-origin: calc(-30% - 160px) center;
  filter: blur(30px);
}
.planet6 {
  width: 90px;
  height: 90px;
  animation: rotateAroundSun 24s infinite linear;
  transform-origin: calc(-60% - 150px) center;
  filter: blur(20px);
}
.planet7 {
  width: 100px;
  height: 100px;
  animation: rotateAroundSun 23s infinite linear;
  transform-origin: calc(-40% - 140px) center;
  filter: blur(20px);
}

@keyframes rotateAroundSun {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.nav-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 0 40px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
.active-link {
  color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: currentColor;
  display: inline-block;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}

.dark-mode .active-link {
  background: white;
  box-shadow: 0 0 8px rgba(255, 255, 255, 5.9);
}

.content-container {
  padding: 0 40px 10px 0;
}
.carousel-slide {
  width: 450px;
  height: 250px;
  margin: 0 auto;

  border-right: 2px solid black;
}
.box-slider {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 250px;
  gap: 20px;
  cursor: pointer;
  position: fixed;
  top: 460px;
  left: 70px;
  line-height: 40px;
}
.box-slider.dark-mode {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.9);

}

.carousel-slide img  {
  width: 450px;
  height: 250px;
  object-fit: cover;
  object-position: center; 
}


.home-content {
  position: fixed;
  top: 450px;
  left: 70px;
  line-height: 30px;
}
.info-content {
  position: fixed;
  top: 440px;
  left: 70px;
  line-height: 40px;
}

.info-content span {
  font-weight: 500;
}

.contact-content {
  position: fixed;
  top: 600px;
  left: 70px;
  line-height: 40px;
}
.link-cont {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
.link-cont:hover {
  text-decoration: none;
  color: rgb(86, 86, 86);
  font-weight: 500;
}
.splashScreen-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
  opacity: 1; 
  z-index: 9999;
}

.splashScreen-hidden {
  opacity: 0;
  pointer-events: none; /* Чтобы пользователь мог взаимодействовать с контентом под заставкой, когда она исчезает */
}


